
        #container{
            border:1px #666 dashed;
            max-width: 80%;
            margin: auto;
        }
        #sidebar_right{
            width:20%;
            height:600px;
            border:1px #666 dashed;
            margin-top:35px;
            margin-bottom:5px;
            float:right;
        }
        #content{
            width:75.5%;
            height:600px;
            border:1px #666 dashed;
            margin: 35px 1.5%;
            float: left;
        }
        canvas{border: 3px solid #000;}

        .color {
            width: 40px;
            height: 40px;
            float: left;
            margin-top: 5%;
            margin-left: 20%;
            cursor: pointer;
            border: 1px solid #000;
            text-align: center;
          }
          #red {
            width: 120px;
            height: 120px;
            background-color: #000;
          }
          #blue {
            background-color: blue;
          }
          #green {
            background-color: green;
          }
          #purple {
            background-color: purple;
          }
          #yellow {
            background-color: yellow;
          }
          #orange {
            background-color: orange;
          }
          #pink {
            background-color: pink;
          }
          #black {
            background-color: black;
          }
          #white {
           background-color: white;
          }
          #ebebeb {
            background-color: #ebebeb;
            margin-right: 20px;
          }
        
